
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #11224e,#11224e, #1a3b70);
  background-attachment: fixed;

}/* css for Contact */
#Contact {
   
  line-height: 1.6;
  color: #fff;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background:rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid #5c83c4;
  border-radius: 20px;
  height: auto;
  width: 1100px;
  margin: 150px 120px 80px 130px;
  box-shadow: 2px 2px 2px 2px #5c83c4;
}

.contact-container {
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.contact-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-container button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-container button:hover {
  background-color: #0056b3;
}

.locations, .owner-info {
  margin-top: 20px;
  text-align: center;
}

h2, h3 {
  margin-bottom: 10px;
}


.social-media a {
  color: #00ffcc;
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
  font-size: 2rem;
  color: #fff;
  transition: color 0.3s;
}

.social-media a:hover {
  text-decoration: underline;
  color: #00ffcc;
}

/* Social Media Icons */
.social-media {
  margin-top: 20px;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.contact-section {
  position: relative;
  z-index: 1;  /* Ensures content is above the video */
  padding: 50px;
  color: white;  /* Adjust text color to ensure it's readable over the video */
}


