

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    

     background-image: url('bg-c.png') ;
    
      background-size: cover;
      background-repeat: no-repeat;
      
      

    }
.container{
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    
}
.contact-left{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    background:rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid gray;
  
    
    
    
}

.contact-left-title h1{
    font-weight: 600;
    color:wheat;
    font-size:40px;
    margin-bottom:2px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:wheat;
    border-radius: 5px;
    margin-bottom: 20px;

}

.contact-input{
    height: 50px;
    width: 320px;
   
   
    padding-left:25px  ;
    border-radius: 50px;
    font-weight: 500;
    background: transparent;
    border: 1px solid gray;
    color: white;
}


.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 15px;
    color: white;

}


.contact-input::placeholder{
    color: whitesmoke;
}

.contact-left .submit{
    padding: 10px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: wheat;
    border: 1px solid white;
   
    background: rgba(255, 255, 255, 0.1);
    
}
.contact-left .submit:hover{
    cursor: pointer;
    
    color: black;
}

.contact-right img{
    width: 500px;
}

@media (max-width:600px){
    .contact-input{
        width: 70vw;
        
        padding: 10px;
    }
    .contact-right{
        display: none;
    }
    .contact-left{
        padding: 25px;
        height: 400px;
        width: 300px;
    }
   
}