*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,#002347, #003F7D);
}
nav{
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000;
    height: 80px;
    width: 100%;
    background: linear-gradient(purple,blue,purple)

}
label img{
    width: 120px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;   
} 
nav ul{
    float: right;
    margin-right: 20px;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 16px;

    text-decoration: none;
  
}

.fa-house{
    margin-right: 3px;
}
.fa-user{
    margin-right: 5px;
}
.fa-gear{
    margin-right: 5px;
}
.fa-chart-simple{
    margin-right:1px
}
.fa-address-card{
    margin-right: 5px;
}
nav ul li a:hover{
    padding: 6px 16px;
    background-color: blueviolet;
    transition: 0.3s;
    border-radius: 20px;
    color: black;
}

.checkbtn{
    color: white;
    font-size: 30px;
    cursor: pointer;
    float: right;
    line-height: 80px; 
    margin-right: 40px;  
    display: none;
   
}
#check{
    display: none;

}

/* responsive nav */
@media(max-width:952px){
    label.logo{

        padding: 5px;
    }
    nav ul li a{
        font-size: 10px;
        
    }
}
@media(max-width:850px){
    .checkbtn{
        display: block;

    }
    ul{
        position: fixed;
        width: 50%;
        height: auto;
        background:plum;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .3s;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
       
        
    }
    nav ul li a{
        font-size: 20px;
        color: black;
    }
    nav ul li a:hover{
        background: none;
        color: brown;
        
    }
    #check:checked~ul{
        left: 0;

    }
}

/* css for services */
 #services {
  
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
   
    width: 100%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding:100px;
   
}

.title{
    height: 100px;
    width: 700px;
    font-weight: 1000rem;
    border: 20px ridge black;
    color: aliceblue;
    margin-bottom: 50px;
    margin-left:70px;
}
p{
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}

#icon-left{
    width: 70px;
    margin-top: -10px;
    float: left;
}
#innerbox{
    height: 55px;
    width: 720px;
    border: 2px solid rgb(44, 40, 40);
    background-color: white ;
    backdrop-filter: blur(10px);
    margin: 20px;
    margin-left: 100px;
    border-radius: 50px;
}


#icon-right{
    width: 70px;
    margin-top: -10px;
   
    float: right;
}
#innerbox-right{
    height: 55px;
    width: 720px;
    border: 2px solid rgb(73, 64, 64);
    background-color: white ;
    backdrop-filter: blur(10px);
    margin: 20px;
    margin-right: 100px;
    border-radius: 50px;
}
h1{
    
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    
}
/* /* responsive service  */
@media(max-width:850px){

   
   
    #innerbox{
        width: 230px;
        height: 50px;
        margin-left: 70px;
        margin-top: 15px;
        
        
    }
    #innerbox-right{
        width: 230px;
        height: 50px;
        margin-right: 20px;
        margin-top: 13px;
        
    }
    h1{
        font-size: 20px;
        margin-top: 6px;
    }
    #icon-left{
        width: 55px;
        
    }
    #icon-right{
        width: 55px;
        
    }
    .title{
        width: 300px;
        height: 50px;
        font-weight: 500rem;
        border: 10px ridge black;
        color:black;
        margin-left: 10px;
      
    }
    p{
        font-size:20px;
    }
}
 /* animation for service  */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#outerbox:nth-child(odd) {
    animation: slideInFromLeft 3s ease forwards;
}

#outerbox:nth-child(even) {
    animation: slideInFromRight 3s ease forwards;
} 


