
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #11224e,#11224e, #1a3b70);
    background-attachment: fixed;
  
}
/* css for services */
#services {
  
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 50px;
    box-sizing: border-box; 
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid #5c83c4;
    border-radius: 20px;
    height: auto;
    width: 1100px;
    margin: 150px 120px 0 130px;
    box-shadow: 2px 2px 2px 2px #5c83c4; 
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#services .title{
    height: 80px;
    width: 700px;
    margin-bottom: 100px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; 
}
#services .title h2{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 1000rem;
    color: white;
  
    
}

#services #outerbox{
    margin-bottom: 30px;
}
#services #icon-left{
    width: 60px;
   
    float: left;
}
#services #innerbox{
    height: 65px;
    width: 720px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
   
    margin-left: 80px;
    border-radius: 50px;
    border: 1px solid #5c83c4;

}


#services #icon-right{
    width: 60px;
    float: right;
}
#services #innerbox-right{
    height: 65px;
    width: 720px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 1px solid #5c83c4;
    margin-right: 80px;
    border-radius: 50px;
    
}
#services h1{
    color: white;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    margin-top: 18px;
    
}

/* responsive for services  */
@media(max-width:850px){

    #services{
        width: 100%;
    }
    .container .title{
        width: 340px;
        
    }
   .container .title h2{

        font-size: 22px;
        color: white;
   }
   #innerbox{
    width: 250px;
    
   }
   #innerbox-right{
    width: 250px;
    
   }
   h1{
    font-size: 20px;
    margin-top: 15px;
   }
   #icon-right{
    width: 50px;
   }
   #icon-left{
    width: 50px;
   }

}

/* animation for services */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#services #outerbox:nth-child(even) {
    animation: slideInLeft 5s ease-in-out;
}

#services #outerbox:nth-child(odd) {
    animation: slideInRight 5s ease-in-out;
}

#services #outerbox {
    margin-bottom: 30px;
    animation-fill-mode: both; /* Ensure the animation stays in its final state */
}
