
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* General body styling */
body {
    background-color: black;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#services {
  
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 50px;
    box-sizing: border-box; 
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid #5c83c4;
    border-radius: 20px;
    height: auto;
    width: 1100px;
    margin: 150px 120px 0 130px;
    box-shadow: 2px 2px 2px 2px #5c83c4; 
   
}

 .title{
    height: 80px;
    width: 700px;
    margin-bottom: 100px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; 
}
.title h2{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 1000rem;
    color: white;
  
    
}

.outerbox{
  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    width: 800px;
    transform: translateX(0);
    padding: 10px;
    
}

 .innerbox{
    height: 65px;
    width: 720px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px); /* Reduce blur */
    border: 2px solid #5c83c4;  /* Make border more visible */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.innerbox-right{
    height: 65px;
    width: 720px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px); /* Reduce blur */
    border: 1px solid #5c83c4;  /* Make border more visible */
    border-radius: 50px;
    
}

.icon-left{
    width: 60px;
    margin-right: 20px;
   
}
.icon-right{
    width: 60px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  
}

 h1{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 18px;
    
}

/* Animations */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
