/* Basic Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient( to right, #E9D4A3, rgb(218, 163, 61));
}

.slider-container {
  width: 2000px;
  overflow: hidden;
  margin: 60px;
  height: 550px;


}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-left:  100px;
}

#slider .slide.active:hover{
  box-shadow: 3px 4px 4px #8f3029;
  transform: translateY(-2px);
  cursor: pointer;
  
}

.slide {
  width: 300px; /* Each slide width */
  height: 410px;
  margin: 20px;
  background-color: #2F191B ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px ;
 
  border-radius: 18px;
  
  display: none; /* Hide all slides by default */
  margin-top: 60px;
  

}

.slide.active {
  display: flex; /* Only show the active slides */
}

h2 {
  border: 2px solid #E9D4A3;
  position: absolute;
  width: 270px;
  height: 370px;
  border-radius: 20px;
}

h1 {
  margin-top: -294px;
  color: #2F191B;
  text-align: center;
  background-color: wheat;
 
  border-style: dotted;
  border: 2px solid  ;
  font-size: 28px;
  width: 245px;
  height: 30px;

  padding: 10px;
  border-radius: 20px;
  font-family: italic;

}

p {
  padding: 20px;
  font-size: 2rem;
  color: wheat;
  line-height: 1.5;
  position: absolute;
  padding: 50px;
  border-radius: 10px;


}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.arrow.left {
  left: 60px;

  background-color: #2F191B;
  padding: 20px;
  border-radius: 45%;
 
}

.arrow.right {
  right: 60px;
  background-color: #2F191B;
  padding: 20px;
  border-radius: 45%;
}

.pagination {
  position: absolute;
  bottom:-20px;
 
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

.pagination-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2F191B;
  cursor: pointer;
  margin-top: -120px;
  user-select: none;
}

.pagination-dot.active {
  background-color: #333;
}
