*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    height: 100vh;
    background: linear-gradient(to right, #E8D4A3,#E2A946);

    
}

   /* Hide the checkbox */
   /* #toggle {
    display: none;
} */

/* Initially hide the extra cards */
#link {
    display: none;
}
/* Show extra cards when checkbox is checked */
#toggle:checked ~ .card-wrapper #link {
    display: flex;
}

#btn1{
    color: #E8D4A3;
   padding: 10px;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    background-color: #52221F;
    font-weight: bold;
    border-radius: 10px;
    margin:50px 0px 60px  1150px ;
 
 }

 
 #btn1:hover{
     box-shadow: 0 4px 5px #52221F;
     transform: translateY(-2px);
     cursor: pointer;
 }
 

.card-list .card-item{
    list-style: none;
   
}

 .card-wrapper .card-list {
    
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 30px;
     
    margin: 20px 20px 70px 40px;

}
.card-list .card-item .card-link{
    width: 300px;
    display: block;
    background-color:  #2F191B;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    
    
  

}


.card-list .card-link .card-image {
    width: 180px;
    height: 180px;
   object-fit: cover;
    border-radius: 50%;
   margin: 20px 40px;
   border: 3px solid #E8D4A3;
}


.card-list .card-link .name {

    color:  #52221F ;
    padding: 8px 16px;
    margin: 10px 0 15px;
    font-size: 1.5rem;
    font-weight: 50;
    background-color:#E8D4A3 ;
    border-radius: 50px;
    text-align: center;
   
}
.role{
    
    color: #52221F ;
    padding: 8px 16px;
    margin: 10px 0 15px;
    font-size: 1.5rem;
    font-weight: 40;
    background-color:#E8D4A3 ;
    border-radius: 50px;
    text-align: center;
    

}

.dept{

     
    color:  #52221F;
    padding: 8px 16px;
    margin: 10px 0 15px;
    font-size: 1.2rem;
    font-weight: 50;
    background-color: #E8D4A3;
    border-radius: 50px;
    text-align: center;


}

.card-list .card-link:hover{
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow:   2px 5px 5px #52221F;
}

