*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #2F191B;
    padding: 0 35px;
    
}

.card-list .card-item{
    list-style: none;
}

 .card-wrapper .card-list {

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/3)-12px;
    gap: 20px;
    /* overflow: hidden; */
}
.card-list .card-item .card-link{
    width: 300px;
    display: block;
    background-color:  #E9D4A3;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
  

}


.card-list .card-link .card-image {
    width: 140px;
    height: 140px;
   object-fit: cover;
    border-radius: 50%;
   margin: 20px 50px;
   border: 3px solid #2F191B ;
}
.card-list .card-link .name {

    color:  #E9D4A3;
    padding: 8px 16px;
    margin: 10px 0 15px;
    font-size: 1.5rem;
    font-weight: 50;
    background-color:#2F191B ;
    border-radius: 50px;
    text-align: center;
   
}
.role{
    
    color:  #E9D4A3;
    padding: 8px 16px;
    margin: 10px 0 15px;
    font-size: 1.5rem;
    font-weight: 40;
    background-color:#2F191B ;
    border-radius: 50px;
    text-align: center;
    

}

.dept{

     
    color:  #E9D4A3;
    padding: 8px 16px;
    margin: 10px 0 15px;
    font-size: 1.2rem;
    font-weight: 50;
    background-color:#2F191B ;
    border-radius: 50px;
    text-align: center;


}

.card-list .card-link:hover{
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow:  5px 5px #b9a5a3;
}

