
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
   
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient( to right, #E9D4A3, rgb(218, 163, 61));
   

    
}

#btn1{
   
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    padding: 15px;
    border-color: #E9D4A3;
    font-weight: bold;
    border-radius: 20px;
    margin: 10px 0px 20px  1100px ;
    color: #E9D4A3 ;
    background-color: #2F191B;
 }
 
 #btn1:hover{
     box-shadow: 0 4px 5px #8f3029;
     transform: translateY(-2px);
     cursor: pointer;
     
 
 } 

 .slider-wrapper{
    overflow: hidden;
    max-width: 1150px;
    margin: 0 80px 40px;
    padding: 20px;
   
 }

 .card-list .card-item{
    
    
  
    padding: 30px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
   
    border-radius: 15px;
    background-color: #2F191B;
 
     
 }
 .card-list .card-item .card-image{
 
    width: 180px;
    height: 180px;
    
    border-radius: 50%;

    margin: 20px ;
    border: 2px solid #E9D4A3 ;
    padding: 4px;
 } 



.card-list .card-item .name {
    width: 100%;
   
    color:  #2F191B;
    padding: 5px 15px;
    margin: 8px 0 16px;
    font-size: 1.5rem;
    font-weight: 50;
    background-color: #E9D4A3;
    border-radius: 50px;
    text-align: center;
   
}
.card-list .card-item .role{
    width: 100%;
   
    color: #2F191B ;
    padding: 5px 15px;
    margin: 8px 0 16px;
    font-size: 1.5rem;
    font-weight: 50;
    background-color: #E9D4A3;
    border-radius: 50px;
    text-align: center;
    

}

.card-list .card-item .dept{
    width: 100%;
    
    color:  #2F191B;
    padding: 5px 15px;
    margin: 8px 0 16px;
    font-size: 1.5rem;
    font-weight: 50;
    background-color:#E9D4A3;
    border-radius: 50px;
    text-align: center;


}

.card-list .card-item:hover{
   

    box-shadow: 3px 4px 4px #8f3029;
    transform: translateY(-2px);
    cursor: pointer;
    
}
  
.slider-wrapper .swiper-pagination-bullet{
   background-color: #8f3029;
    height: 20px;
    width: 20px;
    border: 3px solid #2F191B ;
   
   
}
.slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
    
  }

.slider-wrapper .swiper-slide-button{
    color: #2F191B;
    margin-top: -10px;
    transition: 0.2s ;

}

.slider-wrapper .swiper-slide-button:hover{
    color: #8f3029;
}

@media screen and (max-width: 600px ) {
    .slider-wrapper{
        margin: 0 50px 40px;
        padding: 30px;
    }
    .slider-wrapper .swiper-slide-button{
        display: none;
    }
    .card-list{
        flex-direction: column;
        align-items: center;
        gap: 30px;
       
    }
    .slider-wrapper .swiper-pagination-bullet{
        display: none;
    }
    
    
    

}
